@model List<Nihongo.Models.MS_UsersModels>

@if (Model != null && Model.Count > 0)
{
    foreach (var user in Model)
    {
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img src="@user.UrlImage" class="media-object search-v1-avatar" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">@user.DisplayName</h4>
            <p></p>
            <a href="">
                <i class="icon-user icons"></i>2819 follower
                                   </a>
            <a href="">| <i class="icon-user icons"></i>29 following</a>
            <br />
            <button class="btn ripple-infinite btn-outline btn-primary">
                                    <div>
                                      <span>Theo dõi</span>
                                    </div>
                                  </button>
        </div>
    </div>
    }
}