@{
    ViewBag.Title = "Trang cá nhân";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">Thông tin cá nhân</a></li>
            <li><a href="#">Thư viện của bạn</a></li>
            <li><a href="#">Điểm tích lũy</a></li>
            <li><a href="#">Thông báo</a></li>
            
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        </div>
    </div>
</div>