@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_MasterUserLayout.cshtml";
}

<div id="content">
    <div class="notifications-wrapper">
        <div class="col-md-12 padding-0">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h4>CẤU HÌNH</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 padding-0">
                            <div class="badges-v1">
                                <div class="badges-ribbon">
                                    <button class="btn btn-info" data-toggle="modal" data-target="#modal-info">Info</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


