@{
    ViewBag.Title = "TỪ VỰNG TIẾNG NHẬT";
}
<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>
                    BÍ QUYẾT</h1>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="sitemap">
                <a href='@Href("~/Home/Index/tu-vung-tieng-nhat")'>Trang chủ</a> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <a href='@Href("~/Home/Note/bi-quyet-tu-vung-tieng-nhat")'>Bí quyết</a> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                10 phương pháp ghi nhớ từ vựng tiếng Nhật
            </div>
        </div>
        <!-- /row of panels -->
    </div>
</div>
<!-- container -->
<section class="container">
    <div class="row">
        
        <!-- main content -->
        <section class="col-sm-9 maincontent">
            <h3>
                10 phương pháp ghi nhớ từ vựng tiếng Nhật</h3>
            <p>
                <img src="~/images/hoc-tu-vung-tieng-nhat.jpg" alt="" class="img-rounded pull-right"
                    width="300">
            </p>
            <strong>Phương pháp lớn thứ nhất: Học thuộc lòng từ vựng thông qua phát âm</strong>
            <p>
                Các bạn cần phải hiểu rõ quy luật về mối quan hệ giữa từ vựng và phát âm, phát âm
                chuẩn mỗi từ vựng sẽ giúp bạn có thể nắm được quy luật đọc nguyên âm của những từ
                cùng loại, rất đơn giản ta có thể lấy ngay được ví dụ: change, mistake, pain, gain,
                amazing…, nghe vô cùng hấp dẫn phải không nào? Thông qua phát âm chuẩn mỗi từ vựng,
                bạn không những nhanh chóng có thể nhớ kỹ từ vựng, còn có thể luyện tập phát âm
                như người bản ngữ!</p>
            <strong>Phương pháp lớn thứ hai: Học thuộc lòng từ vựng bằng cách đọc theo băng ghi
                âm</strong>
            <p>
                Nguyên nhân căn bản dẫn đến thất bại trong việc học từ vựng của người Việt Nam là
                không thể phát âm chuẩn. Bạn biết không người thầy dạy ngữ âm tốt nhất cho bạn chính
                là giọng đọc chuẩn của người bản ngữ, cho nên nhất định phải học thuộc lòng từ vựng
                theo băng ghi âm. Hãy đặt âm lượng ở mức to nhất, nghe theo băng ghi âm nhiều lần
                kết hợp với việc đọc to từ vựng. Đồng thời bạn hãy sử dụng cùng một lúc các cơ quan
                mắt, tai, miệng, không ngừng kích thích não bộ, ấn tượng sẽ vô cùng sâu sắc!</p>
            <strong>Phương pháp thứ ba: cuồng nhiệt học thuộc lòng từ vựng theo “phương pháp ba
                nhất”</strong>
            <p>
                “Miệt mài đêm ngày” học thuộc lòng từ vựng, hiệu quả vẫn cực kỳ thấp! Nhất định
                phải học thuộc lòng từ vựng theo “phương pháp ba nhất”. Khi học thuộc lòng từ vựng,
                nhất định phải đạt chuẩn ở mức to nhất, rõ nhất và nhanh nhất. Khi bạn áp dụng luyện
                tập theo phương pháp ba nhất, năng lực tập trung của bạn có thể đạt mức cao nhất,
                khả năng ghi nhớ có thể được cải thiện rõ rệt, bạn không những có thể dễ dàng ghi
                nhớ từ vựng mà còn có thể luyện tập và tạo dựng “cơ bắp quốc tế”!</p>
            <strong>Phương pháp thứ tư: Phân loại từ vựng</strong>
            <p>
                Trong tiếng Nhật có rất nhiều từ thuộc cùng một nhóm loại, có thể nhóm những từ cùng
                loại để cùng luyện tập, từ đó cải thiện đáng kể hiệu quả trí nhớ. Các bạn có thể
                sử dụng động tác tay, thử phân loại từ vựng trong một cuốn sách, chép nó vào một
                mẩu giấy nhớ, sau đó tập trung luyện tập, nỗ lực đột phá, cố gắng ghi nhớ!</p>
            <strong>Phương pháp thứ năm: Học từ vựng theo các dạng thức của từ</strong>
            <p>
                Phương pháp ghi nhớ từ vựng này là một trong10 phương pháp ghi nhớ từ vựng tiếng
                Anh được nhiều người áp dụng trong việc chinh phục tiếng Nhật của mình.Trong tiếng
                Anh có rất nhiều các dạng thức khác nhau của từ như: danh từ, động từ, tính từ,
                trạng từ, ngoài tiền tố, hậu tố còn có nhiều loại biến thể khác nhau làm thay đổi
                ý nghĩa của từ. Muốn triệt để nắm vững từng từ, chúng ta phải nắm vững được đặc
                tính của mỗi nhóm dạng! Hãy triệt để nắm vững từ vựng trong tất cả các dạng thức!
                Với việc học từ vựng theo kiểu nhóm dạng như thế, đảm bảo khả năng học thuộc lòng
                từ vựng của bạn có thể lên cao bất ngờ!</p>
            <strong>Phương pháp thứ năm: Học từ vựng theo các dạng thức của từ</strong>
            <p>
                Phương pháp ghi nhớ từ vựng này là một trong 10 phương pháp ghi nhớ từ vựng tiếng
                Anh được nhiều người áp dụng trong việc chinh phục tiếng Nhật của mình.Trong tiếng
                Anh có rất nhiều các dạng thức khác nhau của từ như: danh từ, động từ, tính từ,
                trạng từ, ngoài tiền tố, hậu tố còn có nhiều loại biến thể khác nhau làm thay đổi
                ý nghĩa của từ. Muốn triệt để nắm vững từng từ, chúng ta phải nắm vững được đặc
                tính của mỗi nhóm dạng! Hãy triệt để nắm vững từ vựng trong tất cả các dạng thức!
                Với việc học từ vựng theo kiểu nhóm dạng như thế, đảm bảo khả năng học thuộc lòng
                từ vựng của bạn có thể lên cao bất ngờ!</p>
            <strong>Phương pháp thứ sáu: Phân bổ thời gian học từ vựng hợp lý</strong>
            <p>
                Học thuộc lòng từ vựng không cần phải vất vả học đêm học ngày. Mỗi ngày sau khi
                thức dậy, trước khi đi ngủ, trước và sau ba bữa cơm, khi đợi xe, trên đường về nhà
                sau khi tan học, thậm chí là cả thời gian khi bạn đang ở trong nhà vệ sinh đều có
                thể cuồng nhiệt học thuộc từ vựng. Hãy luôn mang theo sách tiếng Nhật bên mình, có
                thời gian hãy lập tức học thuộc, luyện tập mọi lúc mọi nơi, sau đó là “bật ra dễ
                dàng”!</p>
            <strong>Phương pháp thứ bẩy: Học thuộc lòng từ đồng nghĩa và trái nghĩa</strong>
            <p>
                Khi nhìn vào mỗi từ vựng, bạn có thể liên tưởng đến những từ đồng nghĩa hoặc gần
                nghĩa của nó, thông qua cách làm này bạn sẽ dễ dàng ghi nhớ chúng; tương tự, mỗi
                khi nhìn thấy một từ vựng, có thể liên tưởng đến từ trái nghĩa của nó. Hãy học nhớ
                từ vựng theo phương pháp: một từ với nghĩa tích cực một từ với nghĩa tiêu cực, nhóm
                chúng thành cặp thành đôi, rõ ràng là một mũi tên trúng hai đích! Sử dụng phương
                pháp này để học thuộc lòng từ vựng, ấn tượng sẽ càng sâu sắc!</p>
            <strong>Phương pháp thứ tám: Vừa học hiểu vừa dịch</strong>
            <p>
                Khi bắt gặp mỗi từ hãy nhanh chóng bật ra ý nghĩa của tiếng Việt của nó, cũng tương
                tự, mỗi khi nhìn vào từ tiếng Việt hãy buột miệng nói ra từ đó bằng tiếng Nhật. Hoặc
                cách khác là hãy mời các bạn của bạn nói ra từ này, sau đó bạn lập tức dịch từ đó
                sang tiếng Việt; khi người bạn nói một từ tiếng Việt, bạn nhanh chóng buột miệng
                nói ra từ này bằng tiếng Nhật. Thông qua phương pháp dịch nhanh từ vựng dưới dạng
                song ngữ, hiệu quả sẽ vô cùng tuyệt vời! Thông qua phương pháp này, bạn đồng thời
                bạn còn có thể luyện tập và trau dồi khả năng dịch nói của mình!</p>
            <strong>Phương pháp thứ chín: Học thuộc lòng từ vựng qua các câu</strong>
            <p>
                Từ vựng khi đứng độc lập chỉ có thể là “học lại quên, quên lại học, lại học lại
                quên”! Cho nên, nhất định phải học thuộc lòng từ vựng thông qua ứng dụng thực tiễn.
                Từ vựng được đặt trong câu mới là từ vựng “sống”, mới có thể giúp bạn ghi nhớ ý
                nghĩa và cách dùng một cách lâu bền, mới có thể tạo ngữ cảm, mới có thể giúp bạn
                khắc cốt ghi tâm, mãi mãi không quên! Điều quan trọng là, học thuộc lòng thông qua
                câu, bạn không những có thể tích lũy vốn từ vựng, hơn nữa còn có thể tích lũy số
                câu! Số câu bạn tích lũy được còn quan trọng hơn nhiều số từ vựng bạn học được!</p>
            <strong>Phương pháp thứ mười: Học thuộc lòng từ vựng thông qua đoạn văn</strong>
            <p>
                Một đoạn văn ngắn đã chứa đựng rất nhiều từ vựng và câu ngắn, với việc học thuộc
                lòng đoạn văn bạn hoàn toàn có thể “tuyên chiến” với từ vựng! Hơn nữa, đoạn văn
                bạn còn giúp bạn có thể ghi nhớ từ vựng một cách chính xác về mặt ý nghĩa và cách
                dùng. Điều quan trọng là, thông qua đoạn văn bạn có thể dễ dàng nói rất nhiều rất
                nhiều đoạn văn tiếng Nhật, đây là mục tiêu cuối cùng của chúng ta khi học tiếng Nhật!</p>
                <hr />
                <div class="panel">
                <h4>
                    Bài viết liên quan</h4>
                <ul class="list-unstyled list-spaces">
                    <li><a href="">Bí quyết làm tăng "dung lượng" bộ nhớ khi học từ vựng</a></li>
                    <li><a href="">HTML5, CSS3 and JavaScript</a></li>
                    <li><a href="">Responsive Design</a></li>
                    <li><a href="">Responsive Design</a></li>
                    <li><a href="">Responsive Design</a></li>
                </ul>
            </div>
        </section>
        <!-- /main -->
        <!-- Sidebar -->
        <aside class="col-sm-3 sidebar sidebar-right">
            <div class="panel">
                <h4>
                    Bài viết mới</h4>
                <ul class="list-unstyled list-spaces">
                    <li><a href="">10 phương pháp ghi nhớ từ vựng tiếng Nhật</a><br>
                        <span class="small text-muted">Phương pháp lớn thứ nhất: Học thuộc lòng từ vựng thông qua phát âm...</span></li>
                    <li><a href="">Bí quyết làm tăng "dung lượng" bộ nhớ khi học từ vựng</a><br>
                        <span class="small text-muted">Consequuntur eius repellendus eos aliquid molestiae ea
                            laborum ex quibusdam</span></li>
                    <li><a href="">Bootstrap</a><br>
                        <span class="small text-muted">Eveniet, consequuntur eius repellendus eos aliquid molestiae
                            ea</span></li>
                    <li><a href="">Clean Template</a><br>
                        <span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis
                            amet cupiditate.</span></li>
                    <li><a href="">Premium Quality</a><br>
                        <span class="small text-muted">Voluptate minus illo tenetur sint ab in culpa cumque
                            impedit quibusdam. Saepe, molestias quia.</span></li>
                </ul>
            </div>
            
        </aside>
    </div>
</section>
<!-- /container -->
