<input type="hidden" id="cp" value='@CommonMethod.EncodeUrl("ChangePassword")' />
@*<script src='@Scripts.Url("~/bundles/cp")' async> </script>*@
<div class="modal fade bs-example-modal" id="modalChangePassword" tabindex="-1" role="dialog"
    aria-labelledby="modalChangePasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Đổi mật khẩu</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("", "Account", FormMethod.Post, new { id = "changePasswordForm", accept_charset = "UTF-8" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="error-message-change-password" class="text-danger">@ViewBag.ErrorMessage</div>
                    
                    @*<div class="form-group">
                        <label for="message-text" class="control-label">
                            Mật khẩu hiện tại:</label>
                        <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword" maxlength="30">
                    </div>*@
                    <div class="form-group">
                        <label for="message-text" class="control-label">
                            Mật khẩu mới:</label>
                        <input type="password" class="form-control" id="npss" name="NewPassword" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">
                            Nhập lại mật khẩu mới:</label>
                        <input type="password" class="form-control" id="rnpss" name="ReNewPassword" maxlength="30">
                    </div>
                    <div class="form-group text-right">
                    <button type="submit" id="btnChangeModal" class="btn
btn-primary">
                    Lưu</button>
                <button type="button" id="btnCloseChangeModal" class="btn
btn-default" data-dismiss="modal">
                    Đóng</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>