<div class="text-center" id="loading">
    <span class="loading">Đang lấy thông tin</span>
    <span class="loading-1"></span>
    <span class="loading-2"></span>
    <span class="loading-3"></span>
    <span class="loading-4"></span>
    <span class="loading-5"></span>
    <span class="loading-6"></span>
</div>
