<!-- container -->
	<div class="container">
		<div class="row">
			<!-- Article content -->
			<section class="col-sm-12 maincontent">
				<h3>Vì sao phải luyện tập thường xuyên</h3>
				<p>Nhiều người vẫn không hiểu tại sao mình lại không thể nhớ lâu được khi học từ vựng, những điều đó có thể dẫn tới chán nản và bỏ cuộc nếu không được khắc phục sớm.</p
                <p>Có thể bạn không biết nhưng khả năng ghi nhớ của não bộ chúng ta sẽ giảm dần theo thời gian, bởi vậy nếu bạn có học thuộc, học kĩ đến đâu thì chỉ sau chừng 1 tháng thì bạn chỉ nhớ được tầm trên dưới 20% số lượng từ vựng đã học mà thôi.</p>
                <p>Vậy nên bạn cũng đừng quá ngạc nhiên khi mình quên mất từ nào đó khi mà chỉ học kĩ một lần, hãy chấp nhận rằng từ vựng bạn mới học sẽ nhanh chóng mất đi theo thời gian nếu bạn không thường xuyên “gặp mặt chúng”.</p>
                <p>Ôn luyện và sử dụng những từ đã học vào cuộc sống hằng ngày là cách đảm bảo nhất giúp bạn tăng khả năng ghi nhớ từ vựng và hạn chế quên từ mới. Đặc biệt là những từ mới học, bởi vì nếu bạn không luyện tập ngay với nó thì có thể chỉ 2 ngày sau bạn lại phải tra từ điển khi gặp lại nó rồi đấy
				</p>

			</section>
		</div>
	</div>
	<!-- /container -->

