@{
    ViewBag.Title = "Từ vựng tiếng Nhật - Yêu cầu đăng nhập";
}
<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>
                    THÔNG BÁO</h1>
            </div>
        </div>
    </div>
</header>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <section id="portfolio" class="page-section section appear clearfix">
                <br />
                <br />
                <br />
                <p class="text-center">
                    Yêu cầu của bạn bị từ chối vì bạn chưa đăng nhập để sử dụng chức năng mà bạn mong
                    muốn.
                </p>
                <p class="text-center">
                    Bạn chỉ cần <a href="#" data-toggle="modal" data-target="#modalLogin2">ĐĂNG NHẬP</a>
                    lại để tiếp tục quá trình học của mình.</p>
                <p class="text-center">
                    Xin cám ơn!</p>
            </section>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
