/*custom*/
.magin-20
{
    margin: 0 20px;
}

.icon-conket
{
    height: 40px;
    width: 40px;
    border: 4px solid #108DB6 !important;
    margin-top: -10px;
}

.btn-top {
    background-image: url(/images/btn_top.png);
    background-repeat: no-repeat;
    background-size:cover;
    border: medium none;
    bottom: 50px;
    cursor: pointer;
    display: none;
    height: 50px;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 9999;
}

.btn-navigator
{
    min-width:120px;
    background-color:#fff;
    border:1px solid #ddd !important;
    border-radius:1px !important;
}

.btn-quizz
{
    width: 120px;
    background-color: #fff;
    border: 1px solid #ddd !important;
    border-radius: 1px !important;
    height: 120px;
    text-align: center;
    /*line-height: 65px;*/
    white-space: normal;
    color: black !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

    .btn-quizz:hover
    {
        background-color: #337ab7;
        color: white !important;
        /*font-weight:bold;*/
    }

.quizz-right{
    background-color: #337ab7 !important;
        color: white !important;
}
.quizz-wrong{
    background-color: #b6124a !important;
        color: white !important;
}
.ok
{
    color: #3c763d;
}

.error
{
    color: #b6124a;
}

.hr-quizz
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #737373;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa, 
.modal-message .modal-header 
.glyphicon, .modal-message 
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}
.modal-message.modal-success .modal-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}

.modal-message.modal-info .modal-header {
    color: #57b5e3;
    border-bottom: 3px solid #57b5e3;
}

.modal-message.modal-danger .modal-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}

.modal-message.modal-warning .modal-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}

.voca-image
{
    width:100%;
    height:100px !important;
}

@media (max-width: 768px) {
  .tableExample{
      height: 100px;
      overflow:auto;
  }
  .imgExample{
      height: 50px !important;
  }
    
  #draw > svg {
      height:60px;
      width:60px;
  }
}
@media (min-width: 768px)
{
    .tableExample
    {
        height: 250px;
        overflow: auto;
    }

    .imgExample
    {
        height: 200px !important;
    }


    /* styles for validation helpers */
    .field-validation-error
    {
        color: #e80c4d;
        font-weight: bold;
    }

    .field-validation-valid
    {
        display: none;
    }

    input.input-validation-error
    {
        border: 1px solid #e80c4d;
    }

    input[type="checkbox"].input-validation-error
    {
        border: 0 none;
    }

    .validation-summary-errors
    {
        color: #e80c4d;
        font-weight: bold;
        font-size: 1.1em;
    }

    .validation-summary-valid
    {
        display: none;
    }
}

